/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
resources/lang/en/phpbenchmarks.php
resources/lang/en_GB/phpbenchmarks.php
resources/lang/fr_FR/phpbenchmarks.php
